.img-perfil{
    width: 100px;
}
.vinculos{
    font-size: 0.9em;
}
@media screen and (min-width: 768px) {
    /* Estilos para tablets */
    .img-perfil{
        width: 140px;
    }
    .container-presentacion{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    /* Agrega otros estilos específicos para tablets aquí */
  }